{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-css-modules",
    ["babel-plugin-relative-import", {
      "rootPathSuffix": "src"
    }],
    "transform-object-rest-spread"
  ]
}

