@import "../constants";

.Comic {

  img {
    width: 100%;
  }
}

.comic-wrap {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;


  h2 {
    font-size: 2.5em;
    margin: 10px 0 20px;
  }

  time {
    font-style: italic;
    margin-bottom: 20px;
    color: $secondary-text-color;
    display: block;
  }
}
