@import "../constants";
@import "../components";

.ComicNavigation {
  margin: 20px auto;
  a {
    color: $primary-text-color;

    &[disabled] {
      color: $secondary-text-color;
      pointer-events: none;
    }
    span {
      @extend %screen-reader-text;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
}
