<html>
  <head>
  	<title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700,700i|Playfair+Display:400,400i,700,700i" rel="stylesheet">
  	<meta name="description" content="<%= '\<\%= description \%\>' %>" />

  	<meta property="og:title" content="<%= '\<\%= subtitle \%\>' %>">
  	<meta property="og:description" content="<%= '\<\%= description \%\>' %>">
  	<meta property="og:image" content="<%= '\<\%= thumbnail \%\>' %>">
  	<meta property="og:url" content="<%= '\<\%= url \%\>' %>">
  	<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">

  	<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %> - <%= '\<\%= subtitle \%\>' %>">
  	<meta name="twitter:description" content="<%= '\<\%= description \%\>' %>">
  	<meta name="twitter:image" content="<%= '\<\%= thumbnail \%\>' %>">
  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:site" content="@waywardrobot">
  	<meta name="twitter:image:alt" content="<%= '\<\%= titleText \%\>' %>">

  </head>
  <body>
    <main id="root">
    	<h1><%= htmlWebpackPlugin.options.title %></h1>
    	<h2><%= '\<\%= subtitle \%\>' %></h2>
    	<datetime><%= '\<\%= date \%\>' %></datetime>
    	<img src="<%= '\<\%= image \%\>' %>" />
    	<p><%= '\<\%= description \%\>' %></p>
    	<style>
    		body {
    			padding: 0;
    		}

    		#root {
    			max-width: 800px;
    			margin: 0 auto;
    			opacity: .05;
    		}

    		#root img {
    			width: 100%;
    		}
    	</style>
    </main>
  </body>
</html>
